/* /////////////////////////////////
	Logo
///////////////////////////////// */

.logo {
  @extend %ir;
  width: 117px;
  height: 60px;
  background: transparent url('/img/logo.svg') no-repeat left top;
}

.logo-sm {
  @extend %ir;
  width: 174px;
  height: 17px;
  float: left;
  background: transparent url('/img/logo-sm.svg') no-repeat left top;
}

/* /////////////////////////////////
	Header (tablet down)
///////////////////////////////// */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-header;
  box-sizing: border-box;
  height: 56px;
  padding: 19px $pad-md 0;
  background: $bg-white;
  border-bottom: $b-over;
  background-clip: padding-box;
  
  @include for-desk-up {
    display: none;
  }
  
  @include for-mob-only {
    height: 44px;
    padding: 13px $pad-sm-txt 0;
  }
}

.open-menu {
  float: right;
  margin-top: 2px;
  height: 14px;
  line-height: 14px;
  
  .label {
    display: inline-block;
    vertical-align: middle;
    padding-right: 14px;
    font-size: $fs-md;
    line-height: 14px;
    color: $c-md;
    transition: all ease .2s;
  }
  
  img,
  svg {
    display: inline-block;
    vertical-align: middle;
    transition: all ease .2s;
  }
  
  .no-touch &:hover {
  
    .label {
      color: $c-link;
    }
    
    svg path {
      fill: $c-hov;
    }
  }
  
  &:active {
  
    .label {
      color: $c-act;
    }
    
    svg path {
      fill: $c-act;
    }
  }
  
  @include for-mob-only {
    margin-top: 1px;
    
    .label {
      display: none;
    }
  }
}

/* /////////////////////////////////
	Nav Panel
///////////////////////////////// */

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: $z-header + 2;
  box-sizing: border-box;
  width: 280px;
  background: $bg-white;
  border-right: $b-over;
  background-clip: padding-box;
  
  > header {
    box-sizing: border-box;
    height: 120px;
    margin: 0 18px;
    padding: 30px 12px;
    border-bottom: $b;
    
    h6 {
      color: $c-brand;
      padding-top: 22px;
      // hide until needed
      display: none;
    }
    
    .x {
      position: absolute;
      top: 21px;
      right: $pad-card-lg;
      z-index: $z-base + 1;
      width: 14px;
      height: 14px;
      // hide until needed
      display: none;
    }
    
    // whare switcher
    
    .selectboxit-container {
      width: calc(100% + 48px);
      margin: 20px -24px 0;
      position: relative;
      z-index: $z-base;
    }
  }
  
  > footer {
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 280px;
    height: 56px;
    padding: 0 $pad-card-lg;
    background: $bg-white;
    
    // lang switcher
    
    .selectboxit-container {
      width: calc(100% + 36px);
      margin: 6px -18px;
    }
    
    // gradient
    
    &:before {
      content: "";
      position: absolute;
      top: -24px;
      left: 0;
      right: 0;
      height: 24px;
      background: linear-gradient(to top, rgba($bg-white,1) 0%, rgba($bg-white,0) 100%);
    }
    
    // border
    
    &:after {
      content: "";
      position: absolute;
      top: -1px;
      left: 18px;
      right: 18px;
      height: 1px;
      border-bottom: $b;
    }
  }
  
  .nav {
    box-sizing: border-box;
    padding: 24px 0 24px;
    height: calc(100vh - 176px);
    overflow-y: scroll;
    
    // IE scroll padding fix
    .ie & {
    
      .nav-links:last-child {
        margin-bottom: 24px;
      }
    }
  
    h6 {
      margin: 30px 0 8px;
      padding: 0 0 0 $pad-card-lg;
    }
    
    // see _lists for more
  }
}

// multi-whare menu

.menu.multi-whare {
  
  > header {
    height: 164px;
  }
  
  .nav {
    height: calc(100vh - 220px);
  }
}

/* /////////////////////////////////
	Tab / Mob Menu
///////////////////////////////// */

// menu reveal animations

@keyframes overlay-in {
  0% { 
    transform: translateX(100%);
    opacity: 0;
  } 1% {
    transform: translateX(0);
    opacity: 0;
  } 100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes overlay-out {
  0% { 
    transform: translateX(0);
    opacity: 1;
  } 99% {
    transform: translateX(0);
    opacity: 0;
  } 100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes menu-in {
  0% { 
    transform: translateX(100%);
    opacity: 0;
  } 100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes menu-out {
  0% { 
    transform: translateX(0);
    opacity: 1;
  } 100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

// overlay

.overlay {

  @include for-narrow-down {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: $z-header + 1;
    background: $bg-md;
    // hide intil needed
    transform: translateX(100%);
    opacity: 0;
    
    // open and closing states
    
    .menu-is-open & {
      animation: overlay-in .3s;
      transform: translateX(0);
      opacity: 1;
    }
    
    .menu-is-closing & {
      animation: overlay-out .3s;
      transform: translateX(100%);
      opacity: 0;
    }
  }
}
  
.menu {

  // open and closing states
  
  .menu-is-open & {
    animation: menu-in .3s;
    transform: translateX(0);
    opacity: 1;
  }
  
  .menu-is-closing & {
    animation: menu-out .3s;
    transform: translateX(100%);
    opacity: 0;
  }
  
  // style

  @include for-narrow-down {
    left: auto;
    right: 0;
    width: calc(50% + 1px);
    border-right: 0;
    border-left: $b-over;
    // hide intil needed
    transform: translateX(100%);
    opacity: 0;
    
    > header {
      height: 56px;
      padding: 0 12px;
      
      .logo {
        display: none;
      }
   
      h6 {
        display: block;
      }
      
      .x {
        display: block;
      }
      
      // whare switcher
    
      .selectboxit-container {
        width: calc(100% - 20px);
        margin-top: 0;
        top: 8px;
      }
    }
        
    > footer {
      left: auto;
      right: 0;
      width: 100%;
    }
    
    .nav {
      height: calc(100vh - 112px);
      padding-bottom: 96px;
    }
    
    &.multi-whare {
  
      > header {
        height: 56px;
      }
      
      .nav {
        height: calc(100vh - 112px);
        padding-bottom: 48px;
      }
    }
  }
  
  @include for-mob-only {
    left: 0;
    width: 100%;
    border-left: 0;
    
    > header {
      height: 44px;
      margin: 0 16px;
      padding: 0 14px;
      
      h6 {
        padding-top: 16px;
      }
      
      .x {
        top: 15px;
        right: $pad-sm-txt;
      }
      
      // whare switcher
    
      .selectboxit-container {
        margin-top: 0;
        top: 0;
        
        .selectboxit-btn.whare-picker .selectboxit-text {
          font-size: $fs-md !important;
        }
      }
    }
    
    > footer {
      left: 0;
      width: 100%;
      height: 44px;
      padding: 0 $pad-card-sm;
      
      // border
    
      &:after {
        left: 16px;
        right: 16px;
      }
      
      // lang switcher
    
      .selectboxit-container {
        margin: 0 -18px;
      }
    }
    
    .nav {
      height: calc(100vh - 88px);
      padding-bottom: 96px !important;
    }
    
    &.multi-whare {
  
      > header {
        height: 44px;
      }
      
      .nav {
        height: calc(100vh - 88px);
      }
    }
  }
}

/* /////////////////////////////////
	Pre-login header
///////////////////////////////// */

body.pre-log .header {
  position: static;
  height: auto;
  padding: $vert-lg 0 $vert-md 0;
  background: transparent;
  border-bottom: 0;
  display: block !important;
  text-align: center;

  .logo {
    margin: 0 auto ($vert-lg / 2);
  }
  
  .btn {
    margin: 32px auto;
  }
  
  @include for-mob-only {
    padding: 13px 0 $vert-sm 0;
  
    .logo {
      width: 174px;
      height: 17px;
      margin: 0 auto ($vert-sm + 2px);
      background: transparent url('/img/logo-sm.svg') no-repeat left top;
    }
    
    .btn {
      margin: 24px auto;
    }
  }
}

body.pre-log footer.lang {
  position: absolute;
  left: 50%;
  bottom: 18px;
  width: 320px;
  height: 44px;
  margin-left: -184px;
  
  h6 {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 50%;
    height: 44px;
    line-height: 46px;
    text-align: right;
    overflow: hidden;
  }
  
  .selectboxit-container {
    float: right;
    width: 50%;
  }
  
  @include for-mob-only {
    bottom: 2px;
  }
}